.mainShopContainer {
  padding-top: 10rem;
  text-align: center;
  h1 {
    font-size: 5rem;
    padding-bottom: 3rem;
  }
}
.regularInput {
  font-size: 2rem;
}

form {
  input {
    padding: 0.5rem;
    font-family: "rubik";
    margin: 1rem;
    font-size: 2rem;
  }
}
