@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkoutItemsContainer {
  padding: 2.5rem 10rem;
  font-size: 2.5rem;
  gap: 2rem;
}

.checkout {
  &__name {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
  }
  &__photo {
    max-width: 5rem;
    object-fit: cover;
    margin-right: 2rem;
  }
  &__quantity {
    font-size: 2.5rem;
    gap: 2rem;
    @include flexCenter;

    .arrow {
      cursor: pointer;
      font-weight: bold;
      background-color: rgb(178, 245, 178);
      padding: 0.1rem;
    }
  }
  &__price {
    @include flexCenter;
  }
  &__remove {
    cursor: pointer;
    @include flexCenter;
  }
}
